@import "tailwindcss";
@plugin "daisyui";

@source "../index.html";
@source "./**/*.{ts,tsx}";

@theme {
  --font-sans: 'Roboto', 'system-ui', 'sans-serif';
  --font-display: 'Poppins', 'Roboto', 'system-ui', 'sans-serif';
  
  --color-primary: #6AA0F8;
  --color-secondary: #9ADBC1;
  --color-accent: #F7D382;
  --color-neutral: #3D3A3A;
  --color-base-100: #FAF9F7;
  --color-info: #93C5FD;
  --color-success: #86EFAC;
  --color-warning: #FCD34D;
  --color-error: #FCA5A5;
}

